@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Jersey+10&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Nunito", sans-serif;
}

:root {
    --bg--color: #181818c5;
    --snd-bf-color: #1818183e;
    --text--color: #fff;
    --main--color: #f4ec59;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg--color);
    color: var(--text--color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.header {
    position: fixed;
    top: 0;
    left: 100;
    width: 100%;
    padding: 1rem 5%;
    background: #333333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    padding-bottom: 2rem;
}

.logo {
    text-decoration: none;
    font-size: 4rem;
    color: #e6e6e6a5;
    font-weight: 400;
    cursor: default;
}

.navbar a {
    text-decoration: none;
    position: relative;
    font-size: 2.4rem;
    color: #e6e6e6a5;
    margin-left: 2.5rem;
    font-weight: 400;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: var(--main--color);
    transition: .5s;
}

.navbar a:hover::before {
    color: var(--main--color);
    width: 100%;
}

.navbar a:hover {
    color: #fff;
    transition: .5s;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.card {
    position: relative;
    height: 400px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    overflow: hidden;
    transition: .5s;
}

img {
    height: 400px;
    width: 400px;
    opacity: 70%;
    transition: .5s;
}

.intro {
    position: absolute;
    bottom: 0;
    height: 70px;
    width: 400px;
    padding: 6px;
    box-sizing: border-box;
    position: absolute;
    background: var(--bg--color);
    color: rgba(201, 201, 201, 0.808);
    transition: .5s;
    border-radius: 10px;
}

h1 {
    margin: 0px;
    font-size: 30px;
    padding: 10px;
    transition: .5s;
}

p {
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin: 20px;
    visibility: hidden;
    opacity: 0;
    line-height: 30px;
    margin-top: 5px;
}

span {
    font-weight: bold;
}

.card:hover {
    cursor: pointer;
    border-radius: 10px;
    transition: .5s;
}

.card:hover .intro{
    height: 230px;
    position: absolute;
    bottom: 0rem;
    background: linear-gradient(to top, transparent -60%, #1b1b1b80);
    border-radius: 10px;
    color: white;
}

.card:hover p {
    opacity: 1;
    visibility: visible;
    transition: .5s;
}

.card:hover img {
    transform: scale(1.15);
    transition: .5s;
}

@media (max-width: 1320px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }

    .card {
        top: 200px;
    }
}

@media (max-width: 888px) {
    .container {
        grid-template-columns: 1fr;
    }

    .card {
        top: 400px;
    }
}

.footer {
    display: flex;
    justify-content: center;
    position: fixed;
    align-items: center;
    left: 0px;
    bottom: 40px;
    height: 50px;
    width: 100%;
    right: 40px;
}

.navbar a.active {
    color: var(--main--color);
}

.btn1 {
    background-color: #e3c70e;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
    transition: .5s ease;
    border-color: #0000;
}

.btn1:hover {
    background-color: #e2e2e271;
}